<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fotin.io &mdash; Boost Your Productivity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/style.css">

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-12 text-center mb-4 mt-5">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Landerz<span class="text-primary">.</span> </a></h1>
          </div>
      </div>
    </div>
    <header class="site-navbar py-md-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-md-6 col-xl-2  d-block d-lg-none">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Fotin.io<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 main-menu">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#features-section" class="nav-link">Features</a></li>
                <li><a href="#about-section" class="nav-link">About Us</a></li>
                <!-- <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li> -->
                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 col-md-6 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>


    <div class="site-blocks-cover">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up">

            <img src="../static/images/landing_1.png" alt="Image" class="img-fluid img-absolute">

            <div class="row mb-4">
              <div class="col-lg-4 mr-auto">
                <h1>Get more productive</h1>
                <p class="mb-5">Fotin.io is a product collecting screen usage relating to productivity. The data is sent to a rasberry pi, calculating your productivity based on activity, the LED colour turns green if you are productive and red when you're not.</p>
                <div>
                  <a href="/user_information" class="btn btn-primary mr-2 mb-2">Get Started!</a>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Features</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
              </div>
              <div>
                <h3>Real-Time Calculation</h3>
                <p>If you're shifting away from your work, the colour slowly changes, helping you notice that you're not as much productive.</p>
                <!-- <p><a href="#">Learn More</a></p> -->
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-store_mall_directory"></span></span>
              </div>
              <div>
                <h3>Market Analysis</h3>
                <p>The product is unique in its implementation and can be used to boost efficiency.</p>
                <!-- <p><a href="#">Learn More</a></p> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" >
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-shopping_basket"></span></span>
              </div>
              <div>
                <h3>User Privacy</h3>
                <p>We respect our users privacy, so the data remains local on your pc and raspberry pi.</p>
                <!-- <p><a href="#">Learn More</a></p> -->
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-settings_backup_restore"></span></span>
              </div>
              <div>
                <h3>Set Your Rules</h3>
                <p>You can set an exclusion list of programs and websites which you use in order to improve analytics and calculations.</p>
                <!-- <p><a href="#">Learn More</a></p> -->
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-sentiment_satisfied"></span></span>
              </div>
              <div>
                <h3>Customer Satistified</h3>
                <p>You can look back at the analytics on how productive you were, by looking at the points where you were unproductive, the user can get a better understanding and make better time management.</p>
                <!-- <p><a href="#">Learn More</a></p> -->
              </div>
            </div>


          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-power"></span></span>
              </div>
              <div>
                <h3>Plug &amp; Play</h3>
                <p>Just as simple as plug and play, plug your rasberry pi connected with LEDs and setup on the prompted page.</p>
                <!-- <p><a href="#">Learn More</a></p> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="feature-big">
      <div class="container">
        <div class="row mb-5 site-section border-bottom">
          <div class="col-lg-7">
            <img src="../static/images/do_ui_kit_download_cta_floating_devices-2x.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black">Get Productive</h2>
            <p class="mb-4">Time is money, so by managing time the right way you work more efficient, getting over with your work faster and easier</p>
            <ul class="ul-check mb-5 list-unstyled success">
              <li>Time managing</li>
              <li>Easy to use</li>
            </ul>

          </div>
        </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">About Us</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6">
            <img src="../static/images/about_1.jpg" alt="Image" class="img-fluid mb-5 mb-lg-0 rounded shadow">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4">A team of class-mate developers</h2>
            <p class="mb-4">As a team of friends and devel</p>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>

      </div>
    </div>




    <div class="footer py-5 border-top text-center">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p class="mb-0">
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>



  </div> <!-- .site-wrap -->

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.stellar.min.js"></script>
  <script src="../static/js/jquery.countdown.min.js"></script>
  <script src="../static/js/bootstrap-datepicker.min.js"></script>
  <script src="../static/js/jquery.easing.1.3.js"></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/jquery.fancybox.min.js"></script>
  <script src="../static/js/jquery.sticky.js"></script>


  <script src="../static/js/main.js"></script>

  </body>
</html>
